modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 60000

[userenv]

[userenv.development]

[userenv.shared]

[nix]
channel = "stable-25_05"
packages = ["eas-cli", "ffmpeg"]

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 21995
externalPort = 3000

[[ports]]
localPort = 25756
externalPort = 80

[objectStorage]
defaultBucketID = "replit-objstore-038548c3-302c-485c-aa95-da068a8bf8ef"
